:root {
  --contrast-color: #d7385e;
  --dark-color: #132743;
  --light-color: #edc988;
  --lighter-color: #f8efd4;
}

body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--lighter-color);
}

h1 {
  font-family: var(--heading-font);
  color: var(--dark-color);
  font-size: 27px;
}

header {
  background-color: var(--light-color);
  border-bottom: 3px solid var(--dark-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

header nav ul li {
  text-decoration: none;
  display: inline-block;
  margin: 8px;
}

header nav ul li a {
  text-decoration: none;
  position: relative;
  color: var(--dark-color);
  font-size: 27px;
  font-weight: bold;
  transition: color 0.2s;
}

header nav ul li a:hover {
  color: var(--contrast-color);
}

img {
  border-radius: 3vw;
  border: 3px solid var(--dark-color);
}

.rubrik {
  font-weight: bold;
}

/* Home */
#home_grid_1 {
  grid-template-columns: 3.5fr 6.5fr;
  background-color: var(--lighter-color);
  border-bottom: 3px solid var(--dark-color);
  grid-template-areas:
    "rubrik img"
    "text img"
    "button img";
}

#home_grid_2 {
  grid-template-columns: 6.5fr 3.5fr;
  background-color: var(--light-color);
  grid-template-areas:
    "img rubrik"
    "img text"
    "img button";
}

.home_grid {
  grid-template-rows: 7vw 1.8fr 1fr;
  display: grid;
  padding: 5vw;
  grid-column-gap: 8vw;
}

.home_grid_title {
  font-size: 30px;
  font-weight: bold;
  grid-area: rubrik;
}

.home_grid_text {
  grid-area: text;
}

.home_grid_img {
  grid-area: img;
}

.home_grid_button {
  grid-area: button;
  margin-top: 1vw;
  background-color: var(--contrast-color);
  border-radius: 50px;
  border: 3px solid var(--dark-color);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  transition: background-color 0.2s;
}

.home_grid_button:hover {
  background-color: #b7183f;
}

/* Meny */
#meny_grid {
  display: grid;
  grid-template: repeat(3, 34vw) / repeat(3, 28vw);
  grid-gap: 5vw 4vw;
  margin: 4vw;
}

.meny_grid_item {
  display: grid;
  grid-template: 56% 22% 22% / repeat(3, 1fr);
  grid-template-areas:
    "img img img"
    "name name price"
    "button button button";
  align-items: center;
  padding: 1.5vw;
  background-color: var(--light-color);
  border-radius: 3vw;
  border: 3px solid var(--dark-color);
}

.meny_grid_item_img {
  grid-area: img;
  border-radius: 2vw;
  align-self: flex-start;
}

.meny_grid_item_name {
  grid-area: name;
  text-align: start;
  font-weight: bold;
  font-size: 2vw;
  color: var(--dark-color);
}

.meny_grid_item_price {
  grid-area: price;
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  color: var(--dark-color);
}

.meny_grid_item_button {
  grid-area: button;
  background-color: var(--contrast-color);
  border-radius: 50px;
  border: 3px solid var(--dark-color);
  transition: background-color 0.2s;
}

.meny_grid_item_button:hover {
  background-color: #b7183f;
}

.meny_grid_item_button p {
  grid-area: button;
  text-align: center;
  color: var(--dark-color);
  font-weight: bold;
  font-size: 1.8vw;
  margin-top: 1.8vw;
  margin-bottom: 1.8vw;
}

/* Varukorg */
#varukorg_grid {
  display: grid;
  grid-template: repeat(3, 1fr) / 1.5fr 4fr 1fr;
  grid-gap: 6vw 3vw;
  background-color: var(--light-color);
  border-radius: 3vw;
  border: 3px solid var(--dark-color);
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 3vw;
}

#varukorg_grid p {
  font-size: 2.8vw;
  font-weight: bold;
}

#varukorg_grid img {
  border-radius: 2vw;
  align-self: center;
}

#varukorg_text {
  display: flex;
  justify-content: space-between;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 3vw;
  margin-bottom: 5vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

#varukorg_button {
  margin-bottom: 3vw;
  margin-left: 30vw;
  margin-right: 30vw;
  background-color: var(--contrast-color);
  border-radius: 5vw;
  border: 3px solid var(--dark-color);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 1.5vw;
  transition: background-color 0.2s;
}

#varukorg_button:hover {
  background-color: #b7183f;
}

/* Om oss */
#om_oss_grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.om_oss_grid_item {
  padding: 40px;
}

/* Hiita oss */
.hitta_oss_grid {
  display: grid;
  grid-template: 1fr / 4fr 6fr;
  grid-template-areas: "text img";
  margin: 5vw;
}

#hitta_oss_grid_bild {
  grid-area: img;
}

#hitta_oss_grid_text {
  color: var(--dark-color);
  grid-area: text;
}

@media only screen and (max-width: 750px) {

  /* Home */
  .home_grid_title {
    margin-top: 0;
  }

  #home_grid_1 {
    grid-template-columns: 100%;
    grid-template-areas:
      "rubrik"
      "img"
      "text"
      "button";
  }

  #home_grid_2 {
    grid-template-columns: 100%;
    grid-template-areas:
      "rubrik"
      "img"
      "text"
      "button";
  }

  .home_grid {
    grid-template: 1fr 4fr 2fr 2fr;
    grid-row-gap: 5vw;
  }

  /* Meny */
  #meny_grid {
    grid-template: repeat(9, 100vw) / 1fr;
  }

  .meny_grid_item {
    grid-template: 63% 18.5% 18.5% / repeat(3, 1fr);
    grid-template-areas:
      "img img img"
      "name name price"
      "button button button";
    padding: 5vw;
    border-radius: 5vw;
  }

  .meny_grid_item_img {
    border-radius: 3vw;
    align-self: flex-start;
  }

  .meny_grid_item_name {
    font-size: 5vw;
  }

  .meny_grid_item_price {
    font-size: 5vw;
  }

  .meny_grid_item_button p {
    font-size: 5vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  /* Hiita oss */
  .hitta_oss_grid {
    grid-template: 1.5fr 1fr / 1fr;
    grid-template-areas: "text""img";
    margin: 5vw;
  }
}